<h2> עגלת קניות </h2>
<div class="cart">
    <div class="items">
        <ng-template [ngIf]="productsInCart.length > 0" [ngIfElse]="empty">
            <button class="btn btn-danger" (click)="emptyCart()">מחק את כל המוצרים מהעגלה</button>
            <app-cart-item *ngFor="let cartProduct of productsInCart" [cartProductInput]="cartProduct"></app-cart-item>
        </ng-template>
        <ng-template #empty>
            <br>
            <h3>העגלה ריקה</h3>
        </ng-template>
    </div>
    <button *ngIf="url !== '/order'" (click)="pay()" class="btn btn-outline-primary">לתשלום:
        ₪{{totalCartPrice}}</button>
    <div class="orderTotal" *ngIf="url === '/order'">סך הכל לתשלום: ₪{{totalCartPrice}}</div>
</div>