button {
    margin-top: 10px;
    margin-inline: 7px;
}

.cart {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 87% 8%;
}

.items {
    overflow: auto;
    direction: ltr;
    padding-inline: 7px;
}

h2 {
    margin-bottom: 0;
}

app-cart-item {
    direction: rtl;
}

@media only screen and (max-width: 767px) {
    .items {
        margin: auto;
    }

    button {
        margin-top: 30px;
        margin-inline: auto;
        width: 330px;
    }
}