<div class="box productContainer">
    <img src={{productImage}} alt="תמונת המוצר"> <br>
    <div style="margin-bottom: 20px">
        ₪<span class="productPrice">{{product.productPrice}}</span> <br>
        <span>ל{{product.priceParameter}}</span>
    </div>    <div class="productName">{{product.productName}}</div>

    <form [formGroup]="addProductToCartForm" (ngSubmit)="addToCart()">
        <input type="number" class="form-control" name="productAmount" formControlName='productAmount' required min=0 [value]="initialAmount" aria-label="productAmount">
        <button class="btn btn-primary"> הוסף לסל</button>
    </form>
</div>