.productContainer {
    width: 324px;
    height: 350px;
    padding: 10px;
    background-color: white;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    padding-top: 20px;
}

form>* {
    margin-inline-start: 5px;
}

input[type='number'] {
    width: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}