<div class="box productContainer">
    <img src={{productImage}} alt="תמונת המוצר"> <br>
    <span>{{product.productPrice}} ש"ח ל{{product.priceParameter}}</span><br>
    <span>{{product.productName}}</span> <br>

    <form [formGroup]="addProductToCartForm" (ngSubmit)="addToCart()">
        <input type="number" class="form-control" name="productAmount" formControlName='productAmount' required min=0 [value]="initialAmount" aria-label="productAmount">
        <button class="btn btn-primary"> הוסף לסל</button>
    </form>
</div>