.logoutButton{
    text-decoration: underline;
    color: white;
}

.logoutButton:hover {
    color: red;
}

.navbar-brand{
    margin: 0;
    padding: 10px;
}


.cartButton{
    position: absolute;
    left: 12px;
    top: 9px;
    font-size: x-large;
    padding-block: 0%;
}

@media only screen and (min-width: 768px) {
    .cartButton{
        position: absolute;
        left: 300px;
    }
}
