<div class="box productContainer">
    <!-- <img src={{}} alt="תמונת המוצר"> <br> -->
    <span>{{cartProduct.product.productPrice}} ש"ח ל{{cartProduct.product.priceParameter}}</span><br>
    <span>{{cartProduct.product.productName}}</span> <br>

    <!-- <form [formGroup]="addProductToCartForm" (ngSubmit)="addToCart()">
        <input type="number" class="form-control" name="productAmount" formControlName='productAmount' required min=0 value=0 aria-label="productAmount">
        <button class="btn btn-primary"> הוסף לסל</button>
    </form> -->
</div>