.productContainer {
    width: 100%;
    max-width: 350px;
    height: 125px;
    padding: 10px;
    background-color: white;
    display: flex;
    margin-inline: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

img {
    max-width: 25%;
    object-fit: contain;
    margin-left: 10px;
}

form {
    display: flex;
    padding-top: 20px;
    translate: -15px -15px;
}

form>* {
    margin-inline-start: 5px;
}

input[type='number'] {
    width: 50px;
    text-align: center;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

span:first-of-type {
    font-size: 1.25em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.delete {
    border: 0;
    background-color: transparent;
    /* position: relative; */
    translate: 33px -75px;
}

.highlight {
    background-color: #EEF43B;
  }