<div class="box productContainer">
    <img src={{productImage}} alt="תמונת המוצר"> <br>
    <div class="cardText">
        <div>
            <span>{{cartProduct.product.productName}}</span> <br>
            <span>{{cartProduct.amount}} {{cartProduct.product.priceParameter}}</span><br>
            <span>{{cartProduct.totalProductPrice}}₪</span><br>

        </div>
        <form [formGroup]="cartForm">
            <button (click)="updatePrice(1)">+</button>
            <input type="number" class="form-control" name="productAmount" formControlName='productAmount' required
                min=1 [value]="cartProduct.amount" aria-label="productAmount" (keydown)="onKeydown($event)">
            <button (click)="updatePrice(-1)">-</button>
            <button class="btn btn-danger">מחק</button><br>
        </form>
        <span *ngIf="productAmount.errors?.['min'] && productAmount.touched">סיסמה חסרה</span>
    </div>
</div>