<div class="box productContainer">
    <img src={{productImage}} alt="תמונת המוצר"> <br>
    <div>
        <div>
            <span>{{cartProduct.product.productName}}</span> <br>
            <span>{{initialAmount}} {{cartProduct.product.priceParameter}}</span><br>
            <span>{{totalProductPrice}}₪</span><br>
            
        </div>
        <form *ngIf="url !== '/order'" [formGroup]="cartForm">
            <button class="amount btn btn-primary me-1 px-2" (click)="updateAmountCounter(1)">+</button>
            <input #amount type="number" class="form-control" name="productAmount" formControlName='productAmount' required
            min=1 [value]="cartProduct.amount" aria-label="productAmount" (keydown)="onKeydown($event)">
            <button class="amount btn btn-primary ms-1 me-3 px-2" (click)="updateAmountCounter(-1)">-</button>
            <button type="button" class="btn btn-danger" (click)="updateProduct()" [disabled]="cartProduct.amount === initialAmount">עדכן</button>
            <button type="button" class="delete" (click)="deleteProduct()">❌</button>
        </form>
        <span *ngIf="productAmount.errors?.['min'] && productAmount.touched">מינימום פריט אחד</span>
    </div>
</div>