.login {
    padding-inline: 15px;
    height: 100%;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

label {
    width: 100px;
}

span{
    color: rgb(208, 2, 2);
}

button {
    margin: auto;
    width: 25%;
    min-width: 75px;
    margin-top: 10px;
}

.error {
    color: rgb(208, 2, 2);
    font-size: medium;
}

.register {
    padding-top: 10px;
    text-align: start;
}