h2, .btn{
    text-align: center;
    margin: auto;
}

.downloadPdf{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-weight: bold;
}