.categories {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
  font-size: large;
  background-color: #e7d2abc5;
  box-shadow: 5px 5px 15px #e7d2abc5;

}

.categories li {
  display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
}

.categories a {
  text-decoration: none;
  display: block;
  font-family: Arial;
  font-weight: 600;
  position: relative;
  color: black;
  padding: .5em 0;
  cursor: pointer;
}

.categories a:hover {
  color: #bf8b50;
  text-shadow: 5px 5px 15px #c69f73;

}

.categories a:hover:before {
  left: 0;
  width: 100%;
}

.categories a:before {
  content: "";
  position: absolute;
  width: 0;
  height: .5px;
  background-color: #c69f73;
  bottom: calc(-1px);
  right: 0;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

h3{
  font-weight: bold;
}

.prod:last-of-type{
  background-color: black;
  align-items: right;
}