<section>
    <nav>
        <!-- <h2>קטגוריות</h2> -->
        <ul class="categories">
            <li>
                <a (click)="showCategory('all')">כל המוצרים</a>
            </li>
            <li *ngFor="let category of categories">
                <a (click)="showCategory(category)">{{category}}</a>
            </li>
        </ul>
    </nav>

    <div class="products" >
        <h3>{{category}}</h3>
        <ng-template [ngIf]="userRole !== 'admin'" [ngIfElse]="admin" >
            <app-product-card *ngFor=" let product of productsToShow" [product]="product" [productsInCart]="productsInCart"> </app-product-card>
        </ng-template>

        <ng-template  #admin>
            <app-product-card-admin class="prod" *ngFor=" let product of productsToShow" [product]="product"> </app-product-card-admin>
        </ng-template>

    </div>
</section>