.about{
    margin-top: 20px;
    height: 91.8vh; /* fill whole page */
}

h1{
    padding-bottom: 20px;
}

img{
    margin-top: 20px;
    object-fit: contain;
    max-width: 60%;
    border-radius: 10px;
}

p{
    text-align: start;
}

.box{
    padding: 10px;
}