<h2>הזמנה</h2>
<hr>
<div class="">
    <h3>פרטי משלוח</h3>
    <mat-form-field>
        <mat-label>עיר</mat-label>
        <input type="text" matInput name="street" formControlName='city' [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
            <!-- <mat-option *ngFor="let city of filteredCities | async" [value]="city"> -->
                <!-- {{city}} -->
            <!-- </mat-option> -->
        </mat-autocomplete>
    </mat-form-field> 
    <br>

    <mat-form-field>
        <mat-label>רחוב</mat-label>
        <input type="text" matInput name="street" formControlName='street'/>
    </mat-form-field>
    <br>

    <mat-form-field class="full-width">
        <mat-label>תאריך משלוח</mat-label>
        <input type="datetime-local" matInput name="date" formControlName='date' >
        
    </mat-form-field>

    <hr>
    <h3>פרטי תשלום</h3>


    <mat-form-field class="full-width">
        <mat-label>מספר כרטיס אשראי</mat-label>
        <input type="number" matInput name="credit" >
        
    </mat-form-field>

    <br>

    <button class="btn btn-primary">הזמנה</button>

    <hr>
    

</div>

