<button class="btn btn-outline-danger cartButton" type="button" data-bs-toggle="collapse" (click)="collapseCart()"
    data-bs-target="#collapse" title="הצג/הסתר עגלת קניות" aria-expanded="true" aria-controls="collapse">
    🛒
</button>
<div class="container-fluid loggedIn">
    <div class="row">
        <aside [ngClass]="screenWidth < 768 ? cartPanel: cartPanel + ' show'" id="collapse">
            <ng-template [ngIf]="userRole !== 'admin'" [ngIfElse]="admin"><app-cart-customer></app-cart-customer></ng-template>
            <ng-template #admin><app-cart-admin></app-cart-admin></ng-template>
        </aside>

        <main [ngClass]="mainPanel">
            <app-products-list></app-products-list>
        </main>
    </div>
</div>