<button class="btn btn-outline-danger cartButton" type="button" data-bs-toggle="collapse" (click)="collapseCart()"
    data-bs-target="#collapse" title="הצג/הסתר עגלת קניות" aria-expanded="true" aria-controls="collapse">
    🛒
</button>
<div class="container-fluid loggedIn">
    <div class="row">
        <aside [ngClass]="screenWidth < 768 ? cartPanel: cartPanel + ' show'" id="collapse">
            <app-cart-customer *ngIf="userRole !== 'admin'"></app-cart-customer>
        </aside>
        
        <main [ngClass]="mainPanel">
            <app-products-list *ngIf="userRole !== 'admin'"></app-products-list>
        </main>
    </div>
</div>