@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: rgb(2, 85, 85);
    background-color: rgba(173, 216, 230, 0.492);
}

.box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    text-align: left;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
