.productContainer {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

.form-group {
    width: 100%;
    margin-block: 15px;
}

label {
    font-size: large;
}

button {
    margin: 20px;
    width: 25%;
    min-width: 75px;
    margin-top: 10px;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}