<div *ngIf="product && addOrUpdateProduct === 'update'" class="box productContainer">
    <h2>עדכון מוצר</h2>
    <img [src]="productImage" alt="תמונת המוצר"> <br>

    <form *ngIf="product" [formGroup]="productForm" (ngSubmit)="updateProduct()">
        <div class="form-group">
            <label for="name">שם המוצר</label>
            <input type="text" class="form-control" name="productName" formControlName="productName"
                [value]="product.productName">
        </div>
        <span *ngIf="productName.errors?.['required'] && productName.touched">חסר שם מוצר</span>
        <span *ngIf="productName.errors?.['minLength'] && productName.touched">אורך שם מינימלי - 3 תווים</span>
        <span *ngIf="productName.errors?.['maxLength'] && productName.touched">אורך שם מקסימלי - 30 תווים</span>

        <div class="form-group">
            <label for="category">קטגוריה</label>
            <select class="form-control" name="category" formControlName="category">
                <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
            </select>
        </div>
        <span *ngIf="category.errors?.['required'] && category.touched">לא נבחרה קטגוריה</span>

        <div class="form-group">
            <label for="type">מידה</label>
            <select class="form-control" name="type" formControlName="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
        <span *ngIf="type.errors?.['required'] && type.touched">לא נבחרה מידה</span>

        <div class="form-group">
            <label for="price">מחיר</label>
            <input type="number" class="form-control" name="price" formControlName="price">
        </div>
        <span *ngIf="price.errors?.['required'] && price.touched">מחיר חסר</span>
        <span *ngIf="price.errors?.['pattern'] && price.touched">מחיר לא חוקי</span>

        <div class="form-group">
            <label for="image">תמונה</label>
            <input type="file" class="form-control file-input" name="image" (change)="uploadImage($event)" #fileUpload>
            <div class="file-upload">
                <button type="button" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                {{imageAdded ? "נוספה תמונה חדשה" : "העלה תמונה חדשה"}}
            </div>
        </div>

        <div class="center">
            <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">עדכון</button>
            <button type="button" class="btn btn-danger" (click)="resetForm()">איפוס</button>
        </div>

    </form>

</div>

<button *ngIf="product && addOrUpdateProduct === 'update'" class="btn btn-primary m-3" style="width: auto;"
    (click)="changeAddOrUpdateProduct()">הוספת מוצר חדש</button>

<div *ngIf="!product && products && addOrUpdateProduct === 'add'" class="box productContainer">
    <h2>הוספת מוצר</h2>
    <img [src]="productImage"> <br>

    <form *ngIf="!product && products" [formGroup]="productForm" (ngSubmit)="addProduct()">
        <div class="form-group">
            <label for="name">שם המוצר</label>
            <input type="text" class="form-control" id="productName" name="productName" formControlName="productName"
                [value]="productName">
        </div>
        <span *ngIf="productName.errors?.['required'] && productName.touched">חסר שם מוצר</span>
        <span *ngIf="productName.errors?.['minLength'] && productName.touched">אורך שם מינימלי - 3 תווים</span>
        <span *ngIf="productName.errors?.['maxLength'] && productName.touched">אורך שם מקסימלי - 30 תווים</span>

        <div class="form-group">
            <label for="category">קטגוריה</label>
            <select class="form-control" name="category" formControlName="category">
                <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
            </select>
        </div>
        <span *ngIf="category.errors?.['required'] && category.touched">לא נבחרה קטגוריה</span>

        <div class="form-group">
            <label for="type">מידה</label>
            <select class="form-control" name="type" formControlName="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
        <span *ngIf="type.errors?.['required'] && type.touched">לא נבחרה מידה</span>

        <div class="form-group">
            <label for="price">מחיר</label>
            <input type="number" class="form-control" name="price" formControlName="price" min="0">
        </div>
        <span *ngIf="price.errors?.['required'] && price.touched">מחיר חסר</span>
        <span *ngIf="price.errors?.['pattern'] && price.touched">מחיר לא חוקי</span>

        <div class="form-group">
            <label for="image">תמונה</label>
            <input type="file" class="form-control file-input" name="image" (change)="uploadImage($event)" #fileUpload>
            <div class="file-upload">
                <button type="button" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                {{imageAdded ? "נוספה תמונה חדשה" : "העלה תמונה חדשה"}}
            </div>
        </div>

        <div class="center">
            <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">הוספה</button>

        </div>

    </form>

</div>

<div *ngIf="!product">
    <br>
    <h2>לחצו על מוצר לעריכה</h2>
</div>