<div class="box productContainer">
    <h2>עדכון מוצר</h2>
    <img alt="תמונת המוצר"> <br>

    <form *ngIf="product" [formGroup]="productForm" (ngSubmit)="updateProduct()">
        <div class="form-group">
            <label for="name">שם המוצר</label>
            <input type="text" class="form-control" name="productName" formControlName="productName" [value]="productName">
        </div>
        <span *ngIf="productName.errors?.['required'] && productName.touched">תעודת זהות חסרה</span>

        <div class="form-group">
            <label for="category">קטגוריה</label>
            <select class="form-control" name="category" formControlName="category">
                <option *ngFor="let cat of categories" [value]="category">{{cat}}</option>
            </select>
        </div>
        <span *ngIf="category.errors?.['required'] && category.touched">לא נבחרה קטגוריה</span>

        <div class="form-group">
            <label for="type">מידה</label>
            <select class="form-control" name="type" formControlName="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">מחיר</label>
            <input type="number" class="form-control" name="price" formControlName="price" placeholder="מחיר">
        </div>
        <div class="form-group">
            <label for="image">תמונה</label>
            <input type="text" class="form-control" name="image" formControlName="image" placeholder="תמונה">
        </div>
        <div class="center">
            <button type="submit" class="btn btn-primary">עדכן</button>
            <button class="btn btn-danger">בטל</button>
        </div>

    </form>

</div>