.loggedOutLayout{
    height: 94vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.aboutUs {
    grid-column: span 4;
    overflow: auto;
}

.login {
    grid-column: span 1;
    overflow: auto;
}

 .loggedOutLayout > * {
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
}