.loggedOutLayout{
    /* height: 94%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.aboutUs {
    grid-column: span 4;
    overflow: auto;
}

.login {
    grid-column: span 1;
    overflow: auto;
    box-shadow: 1px 1px 20px rgba(152, 152, 152, 0.5);

}

 .loggedOutLayout > * {
    /* border: 1px solid black; */
    border-bottom: 0;
    border-top: 0;
}